.publi-bg {
    background: black;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

.sidebar-cont{
    position: relative;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.noliststyle{
    list-style: none;
    padding-left: 0px;
}

.sideitems{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: x-large;
    color: white;
    text-decoration: none;
}

.side-title{
    font-family: 'ADLaM Display', cursive;
    font-size: xx-large;
    color: white;
    text-decoration: none;
}

.sideicon{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: xx-large;
    color: white;
    text-decoration: none;
    vertical-align: top;
}

.side-title-options{
    margin-bottom: 20px;
}

.side-list-options{
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 15px;
}

.side-logout{
    position: absolute;
    bottom: 20px;
    padding-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.sideborder{
    border-right: 2px solid rgba(255, 255, 255, 0.3);
}

.publicacion-container{
    overflow-y: auto;
}

.publicacion{
    border: 2px solid rgba(255, 255, 255, 0.3);
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.date-details{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: small;
    padding-right: 10px;
    margin-right: 10px;
}

.name-details{
    font-weight: 400;
    font-size: large;
}

.traducir{
    background: transparent;
    border: 1px solid transparent;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: small;
}

.list-idioma{
    background: transparent;
    border: 1px solid transparent;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: small;
}

.list-opcion{
    background-color: black;
}
