.publi-bg {
    background: black;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

.sidebar-cont{
    position: relative;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.noliststyle{
    list-style: none;
    padding-left: 0px;
}

.sideitems{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: x-large;
    color: white;
    text-decoration: none;
}

.side-title{
    font-family: 'ADLaM Display', cursive;
    font-size: xx-large;
    color: white;
    text-decoration: none;
}

.sideicon{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: xx-large;
    color: white;
    text-decoration: none;
    vertical-align: top;
}

.side-title-options{
    margin-bottom: 20px;
}

.side-list-options{
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 15px;
}

.side-logout{
    position: absolute;
    bottom: 20px;
    padding-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.sideborder{
    border-right: 2px solid rgba(255, 255, 255, 0.3);
}

.publicacion-container{
    overflow-y: auto;
    margin-top: 50px;
}

.filtros-container{
    margin-bottom: 30px;
}

.publicacion{
    border: 2px solid rgba(255, 255, 255, 0.3);
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.date-details{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: small;
    padding-right: 10px;
    margin-right: 10px;
}

.name-details{
    font-weight: 400;
    font-size: large;
}

.traducir{
    background: transparent;
    border: 1px solid transparent;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: small;
}

.list-idioma{
    background: transparent;
    border: 1px solid transparent;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: small;
}

.list-filter{
    background: transparent;
    border: 1px solid transparent;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
}

.list-opcion{
    background-color: black;
}

.comentario{
    margin-bottom: 5px;
}

.ver-comentarios{ 
    background: transparent; 
    color: white; 
    border: transparent
}

.ocultar-comentarios{
    background: transparent;
    border: 1px solid transparent;
    color: white;
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: small;
}

.comments-container{
    background-color: black;
}

.cuadro-comentario{
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.esquina {
    margin-right: 10px;
}

.titulo-seccion{
    font-size: x-large;
    margin-top: 20px;
}

.alter-seccion{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: medium;
}

.solicitud{
    height: 80px;
}

.nombre-solicitud{
    font-weight: 400;
    font-size: large;
    align-items: center;
}

.foto-solicitud{
    margin-right: 15px;
}

.profile-container{
    overflow-y: auto;
    margin-top: 50px;
}

.profile-foto{
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile{
    margin-bottom: 50px;
}

.form-field{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.chat-field{
    padding-left: 20cap;
    padding-right: 20cap;
    margin-bottom: 10px;
    padding-bottom: 0px;
}

.message {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20cap;
    padding-right: 20cap;
    border-top: 2px solid rgba(255, 255, 255, 0.3);
  }
  
.bot-solicitud {
    background-color: rgb(58, 56, 56);
    color: white;
}
  
.bot-respuesta {
    background-color: rgb(0, 0, 0);
    color: white;
}

.chat-general-container{
    overflow-y: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 100%;
}

.ask-bar{
    margin-bottom: 50px;
}
