code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #fdfdfd;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
}